@import "https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

/* .row > * {
    flex-shrink: 0;
    width: 30%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
} */


a {
    color: #048b76;
    text-decoration: none;
    transition: all ease-in-out 0.1s;
}

a:hover {
    color: #024137;
    text-decoration: none;
}

.r_ow {
    display: flex;
    flex-wrap: wrap;
}

.Product_block {
    display: inline-block;
    margin: 20px 40px;
}

.Image {
    transition: transform .2s;
    transition: all ease-in-out 0.1s;
}

.Image:hover {
    transform: scale(1.1)
}

.Title {
    text-align: center;
    margin: 50px 0px;
}

.Product_info {
    margin-top: 15px;
    text-align: center;
}

.s_media_list[data-vcss="001"] .s_media_list_img {
    object-fit: cover;
}

.pb30 {
    padding-bottom: 30px;
}

.pt30 {
    padding-top: 30px;
}

.highcharts-container {
    background-color: #f5f5f5;
}

.highcharts-title {
    color: #333;
}

.highcharts-axis-labels {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.highcharts-series {
    color: #0072C6;
}

path.highcharts-point {
    cursor: pointer;
}

.highcharts-figure {
    margin: 0;
}

#play-controls {
    max-width: 600px;
    margin: 1em auto;
}

#container {
    height: 600px;
    max-width: 1000px;
    margin: 0 auto;
}

#play-pause-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid rgba(2, 117, 255, 1);
    border-radius: 25px;
    color: white;
    background-color: rgba(2, 117, 255, 1);
    transition: background-color 250ms;
}

#play-pause-button:hover {
    background-color: rgba(2, 117, 255, 0.5);
}

#play-range {
    transform: translateY(2.5px);
    width: calc(100% - 90px);
    background: #f8f8f8;
}
